<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue Js</title>
</head>

<body>

    <div id="app">
        <ul>
           <li v-for="hp in handphone">
               Type: {{hp.type}}
               brand: {{hp.brand}}
               color: {{hp.color}}
           </li> 
        </ul>

        <ul>
            <li v-for="value in object">{{value}}</li>
        </ul>




        <button v-on:click="pesan = 'Diklik dengan menggunakan v-on:click'">Klik !</button>
        <button @click="pesan = 'Ditekan dengan menggunakan @click'">Tekan !</button>
        <button @click="showAlert">Alert !</button>
        
        {{pesan}}
        
        <br>
        <label for="">Enter</label>
        <input type="text" v-on:keyup.enter="saran = 'Habis tekan enter ya'">
        <br>
        <label for="">Tekan Yang ada</label>
        <input type="text"
        @keyup.esc="escKey"
        @keyup.down="downKey"
        >
        
        {{saran}}
        
        <br>
        <ul>
            <li>{{ vehicles[0] }}</li>
        </ul>
        <ul>
            <li v-for="vehicle in vehicles">{{ vehicle}}</li>
        </ul>
        <br>

        <label for="">Add Name</label>
        <input type="text" v-model="content">
        <button @click="addName">Add</button>
        <br>

        <ul>
            <li v-for="(name, index) in names">
                <button @click="removeName(index)">delete</button>
                {{ name }}
            </li>
        </ul>


        <p v-if="show">{{ message }}</p>
        <p v-else="show">{{ message2 }}</p>
        <p>Hasil {{int1}} + {{int2}} adalah {{ result }}</p>
        <button v-on:click="sumProcess(10)"> Proses</button>
        <input type="text" v-model="dollar">
        <input type="text" v-model="rupiah">
        <input type="text" v-model="tulisan"> {{tulisan}}
        <br>
        <textarea v-model="textarea" cols="30" rows="10"></textarea>
        <br>
        <p style="white-space: pre-line">{{textarea}}</p>

        <br>
        <input type="radio" v-model="radiobutton" value="nasgor">Nasi Goreng
        <input type="radio" v-model="radiobutton" value="buryam">Bubur Ayam
        <input type="radio" v-model="radiobutton" value="toprak">Ketoprak
        <br> Kamu memilih {{radiobutton}}

        <br>
        <label for="">Pagi</label>
        <input type="checkbox" value="pagi" v-model="checkbox">
        <br>
        <label for="">Siang</label>
        <input type="checkbox" value="siang" v-model="checkbox">
        <br>
        <label for="">Sore</label>
        <input type="checkbox" value="sore" v-model="checkbox">
        <br>
        <p v-for="choice in checkbox">{{choice}}</p>
        <br> {{checkbox}} ini aku kangen kamu
        <br>
        <select v-model="select" multiple>
            <option value="" disabled>Choice programming language</option>
            <option value="java">java</option>
            <option value="C#">C#</option>
            <option value="Kotlin">Kotlin</option>
            <option value="JavaScript">JavaScript</option>
        </select>
        <br> i love {{select}}
        <br>
        <ul>
            <li v-for="i in select"> {{ i }}</li>
        </ul>

        <br>
        <img v-bind:src="urlImg" width="200px">
        <br>
        <a v-bind:href="link">Google</a>
        <p v-bind:style="fontStyle">Black Bold</p>

    </div>
    <script src="assets/vendor/vue.js"></script>
    <script src="assets/js/app.js"></script>
</body>

</html>