<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue JS !</title>
</head>
<body>
    
    <div id="app">
    <greeting></greeting>
    <button-counter></button-counter>
    <blog-posts v-for="post in posts" :key="post.id" :post="post"></blog-posts>


    </div>
        <script src="assets/vendor/vue.js"></script>
        <script src="assets/js/component.js"></script>
</body>
</html>